@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    font-family: 'Poppins', sans-serif;
    height:100vh;
    width:100%;
    background-image: url(./img/sec1.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    /* position: relative; */
}


#navbar{
    position: fixed;
    top:0;
    z-index: 9999;
    background-color: rgb(46, 44, 44);
    height: 60px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* justify-content: space-between; */
    
}
#logo{
    /* margin-left: 20%; */
    display: flex;
    width: max-content;
    margin: 4px;
    margin-left: 8%;
}
#logo img{

    width:50px;
    height:40px;

}
.menu{
    display: flex;
    /* align-items: center; */
    
    font-size:13px;
}
.menu ul{
    display: flex;

}
.menu ul li{
list-style:none ;
padding:2px 7px;
/* justify-content: space-evenly; */
}

.menu ul li a{
/* justify-content: space-between; */
    text-decoration: none;
    /* list-style: none; */
    color:white;
    padding:5px;
    margin:7px;
}
#navbar #sb{
    margin-right: 8%;
}
#navbar #sb ol{
    display: flex;
    margin-right: 10px;

}
#navbar #sb ol li{
list-style:none ;
padding:2px 10px;
/* justify-content: space-evenly; */
}


#navbar #sb ol li img{
/* width:max-content; */
/* height:80px; */
display: flex;
align-items: center;
width:20px;
height:20px;
}


.container #hero-sec{
    margin-top:60px;
    color:white;
    text-align: center;
    padding-top: 40px;

}
.container #hero-sec h1{
    padding-top: 10px;
    font-size: 3.5rem;
}
.container #hero-sec h3{
    font-size: 1.65rem;
    font-weight: normal;
}
.container #btn{
    text-align: center;
    font-size: 1.25rem;

    margin-top: 17px;

}
.container #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(93, 184, 245);
}



.sec2{
    font-family: 'Poppins', sans-serif;
    height:100vh;
    width:100%;
    margin-top: 15px;
    background: url(./img/sec2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
.sec2 img{
    width:350px;
    margin-top: 30%;
    
    
}

.sec2 .text h3{
    

    font-size: 1.65rem;
    font-weight: normal;
}
.sec2 #btn{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 17px;


}
.sec2 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(18, 138, 207);
    font-weight: bold;
    /* padding-top: 10px; */
}


.sec3{
    font-family: 'Poppins', sans-serif;
    height:100vh;
    width:100%;
    margin-top: 15px;
    background: url(./img/sec3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
.sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 28%;
}
.sec3 .text h3{
    font-size: 1.67rem;
    font-weight: normal;
}
.sec3 #btn{
    text-align: center;
    font-size: 1.32rem;

    margin-top: 17px;

}
.sec3 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(18, 138, 207);
    font-weight: bold;

}

.sec4{
    font-family: 'Poppins', sans-serif;
    height:100vh;
    width:100%;
    margin-top: 15px;
   display: flex;
    
}

.sec4 .left{
width:50%;
margin-left: 16px;
background: url(./img/sec4l.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-right: 8px;
}

.sec4 .right{
width:50%;
margin-right: 16px;
background: url(./img/sec4r.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
}

.sec4 .left .text{
    margin-top:60px;
    /* color:white; */
    text-align: center;

}
.sec4 .text h1{
    padding-top: 10px;
    font-size: 2.5rem;
}
.sec4 .text h3{
    font-size: 1.3rem;
    font-weight: normal;
}
.sec4 #btn{
    text-align: center;
    font-size: 1.10rem;

    margin-top: 11px;

}
.sec4 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(34, 139, 209);
}
.sec4 .right .text h3{
    color:white;
    font-size: 1.3rem;
    font-weight: normal;
}

.sec4 .right img{
    margin-top: 70px;
    width:170px;
    height:60px;
}




.sec5{
    font-family: 'Poppins', sans-serif;
    height:100vh;
    width:100%;
    margin-top: 15px;
   display: flex;
    
}

.sec5 .left{
width:50%;
margin-left: 16px;
background: url(./img/sec5l.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-right: 8px;
}

.sec5 .right{
width:50%;
margin-right: 16px;
background: url(./img/sec5r.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
}

.sec5 .left .text{
    margin-top:60px;
    /* color:white; */
    text-align: center;

}
.sec5 .text h1{
    padding-top: 10px;
    font-size: 2.5rem;
}
.sec5 .text h3{
    font-size: 1.3rem;
    font-weight: normal;
}
.sec5 #btn{
    text-align: center;
    font-size: 1.10rem;

    margin-top: 11px;

}
.sec5 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(34, 139, 209);
}
.sec5 .right .text h3{
    /* color:white; */
    font-size: 1.3rem;
    font-weight: normal;
}
.sec5 .right .text h1{
    margin-top:50px;
}











.sec6{
    font-family: 'Poppins', sans-serif;
    height:100vh;
    width:100%;
    margin-top: 15px;
   display: flex;
    
}

.sec6 .left{
width:50%;
margin-left: 16px;
background: url(./img/sec6l.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-right: 8px;
}

.sec6 .right{
width:50%;
margin-right: 16px;
background: url(./img/sec6r.jpg);
background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    margin-left: 8px;
}

.sec6 .left .text{
    width:50%;
    margin: auto;
    /* margin-top:60px; */
    /* color:white; */
    text-align: center;

}
.sec6 .text h1{
    padding-top: 10px;
    font-size: 2.5rem;
}
.sec6 .text h3{
    font-size: 1.3rem;
    font-weight: normal;
}
.sec6 #btn{
    text-align: center;
    font-size: 1.05rem;

    margin-top: 11px;

}
.sec6 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(34, 139, 209);
}
.sec6 .right .text h3{
    width:60%;
    margin: auto;
    /* color:white; */
    font-size: 1.3rem;
    font-weight: normal;
}

.sec6 .right img{
    margin-top: 70px;
    width:160px;
    height:35px;
}
.sec6 .left img{
    margin-top: 70px;
    width:120px;
    height:40px;
}





.sec7{
    font-family: 'Poppins', sans-serif;

    position:relative;
    width:100%;
    /* height:100vh; */
    /* display: flex; */
    margin-top: 15px;
    margin-bottom: 45px;
   
}

.sec7 .slides{
    position: relative;
    display: flex;
    overflow:hidden;
    
}
.sec7 .slides img{
    /* position: relative; */
display: flex;
    width:70vw;
    height:80vh;
    margin-left:20px;
}
.sec7 .slides .text{
    display: flex;
    /* flex-direction: column-reverse; */
    position: absolute;
    top:0;
    padding-top:31%;
    padding-left:60px;
    width:80vw;
    /* text-align: center;
    align-items: center; */
}
.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 14px;
    font-weight: bold;
    padding:15px 35px;
    background-color: white;
    border: none;
    margin-right: 40px;
    cursor: pointer;
    display: flex;
}
.txt{
    display: flex;
}
.bt{
    display:flex ;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 20px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 6px;
    color:white;
    font-size: 20px;
    margin-top: 8px;
    font-weight: normal;
}


.dots{
    background-color:rgba(223, 208, 208, 0.938);
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    margin-top: 9px;
    margin-bottom: 9px;
}
.dots span{
    display: inline-block;
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}






footer{
    font-family: 'Poppins', sans-serif;

    width:100%;
    background-color:rgba(240, 240, 240, 0.678);

}

footer .foot{

    width:78%;
    margin: auto;
}
footer .foot .text{
    padding-top:20px;

    opacity: 0.59;
    font-size: 12px;
    padding-bottom:20px;
}
footer .foot .text a{
    color:black;
    /* opacity: 1; */
}
footer .foot .text p{
    margin-bottom: 7px;
}
footer .foot .h{
    opacity: 0.59;
    /* padding-bottom: 20px; */
}
footer .foot .menu{
    /* padding: 0px 20px; */
    flex-direction: column;

}
footer .foot .menu .items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
footer .foot .menu .items h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 12px;
    /* font-weight: normal; */
}
footer .foot .menu .items h6{
    font-size: 11px;
    font-weight: normal;
    padding:4px 0px;
    opacity:0.79;
}
footer .foot .menu p{
    font-size: 12px;
    font-weight: normal;
    opacity:0.79;
    left:0;
margin-bottom: 20px;
}
footer .foot .last{
    margin-top: 20px;
    display: flex;
    font-size: 12px;
    font-weight: normal;
    opacity:0.79;
    /* left:0; */
padding-bottom: 20px;
justify-content: space-between;

}

footer .foot .last .center img{
height:18px;
width:9px;
}
footer .foot .last .center .links{
    display: flex;
    
}
footer .foot .last .center p{
padding:0px 4px;
}

.burger{
    position: absolute;
    top:.75rem;
    right:1rem;
    flex-direction: column;
margin:0px 10px;
display: none;
cursor: pointer;
}
.line{
    width:33px;
    background-color: white;
    border-radius: 10px;
    height:4px;
    margin:5px 3px;
}











/* 

@media only screen and (max-width:2150px) and (min-width:1600px){

    .sec2 img{
        width:350px;
        margin-top: 38%;
        
    }



}

@media only screen and (max-width:1500px) and (min-width:1306px){
    .menu{
        display: flex;
        /* align-items: center; */
        /* margin-right: 2%; */
       /* font-size:12px;
    }

    .sec2 img{
        width:350px;
        margin-top: 48%;
        
    }



} */









@media only screen and (max-width: 1306px) and (min-width:975px){


 
    #logo img{

        width:40px;
        height:30px;
    
    }
    #logo{
        /* margin-left: 20%; */
        display: flex;
        width: max-content;
        margin: 4px;
        margin-left: 2%;
    }
    .menu{
        display: flex;
        /* align-items: center; */
        /* margin-right: 2%; */
        font-size:11px;
    }
    .menu ul{
        display: flex;
    
    }
    .menu ul li{
    list-style:none ;
    padding:2px 5px;
    /* justify-content: space-evenly; */
    }
    
    .menu ul li a{
    /* justify-content: space-between; */
        text-decoration: none;
        /* list-style: none; */
        color:white;
        padding:3px;
        /* margin:5px; */
    }
    #navbar #sb{
        margin-right: 2%;
    }
    
    
    #navbar ol li img{
    /* width:max-content; */
    /* height:80px; */
    display: flex;
    align-items: center;
    width:13px;
    height:13px;
    }
    
    .container #hero-sec{
        padding-top:100px;
        color:white;
        text-align: center;
    
    }

    .sec2 img{
        width:350px;
        margin-top: 61%;
        
    }
    .sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 58%;
}

.sec7 .slides .text{
    display: flex;
    position: absolute;
    top:0;
    padding-top:57%;
    padding-left:60px;
    width:80vw;
}







}
    

@media only screen and (max-width: 1162px) and (min-width:975px){
    .sec2 img{
        width:350px;
        margin-top: 70%;
        
    }
    .sec7 .slides .text{
    display: flex;
    position: absolute;
    top:0;
    padding-top:65%;
    padding-left:60px;
    width:80vw;
}
.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
    padding:15px 35px;
    background-color: white;
    border: none;
    margin-right: 40px;
    cursor: pointer;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 17px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 6px;
    color:white;
    font-size: 17px;
    margin-top: 8px;
    font-weight: normal;
}


}









@media only screen and (max-width: 975px) and (min-width:870px){

    .sec2 img{
        width:350px;
        margin-top: 81%;
        
    }
    .sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 78%;
}

.sec7 .slides .text{
    display: flex;
    position: absolute;
    top:0;
    padding-top:75%;
    padding-left:60px;
    width:80vw;
}
.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 11px;
    font-weight: bold;
    padding:15px 35px;
    background-color: white;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 15px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 6px;
    color:white;
    font-size: 15px;
    margin-top: 8px;
    font-weight: normal;
}
    .container #hero-sec{
        padding-top:120px;
       
    
    }
    #logo img{

        width:35px;
        height:25px;
    
    }
    #logo{
        /* margin-left: 20%; */
        display: flex;
        width: max-content;
        margin: 3px;
        margin-left: 2%;
    }
    .menu{
        display: flex;
        /* align-items: center; */
        /* margin-right: 2%; */
        font-size:9px;
    }
    .menu ul{
        display: flex;
    
    }
    .menu ul li{
    list-style:none ;
    padding:2px 4px;
    /* justify-content: space-evenly; */
    }
    
    .menu ul li a{
    /* justify-content: space-between; */
        text-decoration: none;
        /* list-style: none; */
        color:white;
        padding:4px;
        /* margin:5px; */
    }
    #navbar #sb{
        margin-right: 2%;
    }
    
    #navbar ol li img{
    /* width:max-content; */
    /* height:80px; */
    display: flex;
    align-items: center;
    width:13px;
    height:13px;
    }
    
}
    



@media only screen and (max-width:870px){
    .sec2 img{
        width:350px;
        margin-top: 88%;
        
    }
    .sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 88%;
}
.sec7 .slides .text{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    position: absolute;
    top:0;
    padding-top:82%;
    padding-left:60px;
    width:80vw;
}
.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    padding:15px 21px;
    background-color: white;
    border: none;
    margin-right: 12px;
    cursor: pointer;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 17px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 5px;
    color:white;
    font-size: 17px;
    margin-top: 8px;
    font-weight: normal;
}

    .container #hero-sec{
        padding-top:140px;
       
    
    }
 #navbar .menu ul{
    flex-direction: column;
}
#navbar{
    justify-content: space-between;
 }
 
#navbar .menu{
    position: absolute;
    margin-top: 125%; 
     /* margin-left: 10px; */
}
#navbar .menu ul li{
    margin:4px 0px;
}
#navbar .menu ul li a{
    font-size: 25px;
    padding: 6px 6px;
    margin: 0px 4px;
    
 }   
.burger{
    display: block;
    
    /* position: fixed; */
    /* cursor: pointer; */
}

.menu{
    display: none;
    width:100%;
    background-color: black;
    /* top:110%; */
}
.menu ul{
    width:100%;
}

.menu.active{
    display: flex;
    height:80vh;
    
    

}


}
 
@media only screen and (max-width:820px) and (min-width:640px){
    .sec2 img{
        width:350px;
        margin-top: 98%;
        
    }
    .sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 97%;
}
.sec7 .slides .text{
    display: flex;
    position: absolute;
    top:0;
    padding-top:87%;
    padding-left:40px;
    width:90vw;
    align-items: center;
}


.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 12px;
    font-weight: bold;
    padding:15px 15px;
    background-color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 16px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 4px;
    color:white;
    font-size: 16px;
    margin-top: 8px;
    font-weight: normal;
}
#navbar #sb ol{
    display: flex;
    margin-right: 15px;

}

}


@media only screen and (max-width:640px) and (min-width:530px){
    .sec2 img{
        width:350px;
        margin-top: 120%;
        
    }
    .sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 115%;
}

.sec7 .slides .text{
    /* display: flex; */
    flex-direction: column-reverse;
    position: absolute;
    top:0;
    padding-top:111%;
    padding-left:50px;
    width:90vw;
}

.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 10px;
    font-weight: bold;
    padding:15px 15px;
    background-color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 13px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 4px;
    color:white;
    font-size: 13px;
    margin-top: 8px;
    font-weight: normal;
}
#navbar #sb ol{
    display: flex;
    margin-right: 30px;

}
 #navbar .menu{
    position: absolute;
    margin-top: 170%; 
     /* margin-left: 10px; */
 }

}

@media only screen and (max-width:530px) and (min-width:450px){
    /* body{
        width:100%;
    } */
    .sec2 img{
        width:350px;
        margin-top: 145%;
        
    }
    .sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 135%;
}
.sec7 .slides .text{
    /* display: flex; */
    flex-direction: column-reverse;
    position: absolute;
    top:0;
    padding-top:142%;
    padding-left:50px;
    width:90vw;
}

.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 10px;
    font-weight: bold;
    padding:15px 15px;
    background-color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 13px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 4px;
    color:white;
    font-size: 13px;
    margin-top: 8px;
    font-weight: normal;
}
#navbar #sb ol{
    display: flex;
    margin-right: 35px;

}
#navbar .menu{
    position: absolute;
    margin-top: 163%; 
    padding-top: 5%;
     /* margin-left: 10px; */
}
.menu.active{
    display: flex;
    height:75vh;
    
    

}



}


@media only screen and (max-width:450px) and (min-width:150px){
    .sec2 img{
        width:350px;
        margin-top: 158%;
        
    }
    .sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 3.5rem;
    padding-top: 135%;
}
.sec7 .slides .text{
    /* display: flex; */
    flex-direction: column-reverse;
    position: absolute;
    top:0;
    padding-top:150%;
    padding-left:50px;
    width:90vw;
}

.sec7 .slides .text .stream{
    border-radius: 40px;
    font-size: 10px;
    font-weight: bold;
    padding:15px 15px;
    background-color: white;
    border: none;
    margin-right: 10px;
    cursor: pointer;
}
.sec7 .slides .text h1{
    color:white;
    font-size: 13px;
    margin-top: 7px;
}
.sec7 .slides .text h3{
    margin-left: 4px;
    color:white;
    font-size: 13px;
    margin-top: 8px;
    font-weight: normal;
}

#navbar #sb ol{
    display: flex;
    margin-right: 50px;

}
footer .foot .text{
    padding-top:20px;

    opacity: 0.59;
    font-size: 9px;
    padding-bottom:20px;
}

footer .foot .menu .items h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 10px;
    /* font-weight: normal; */
}
footer .foot .menu .items h6{
    font-size: 9px;
    font-weight: normal;
    padding:4px 0px;
    opacity:0.79;
}
footer .foot .menu p{
    font-size: 10px;
    font-weight: normal;
    opacity:0.79;
    left:0;
margin-bottom: 20px;
}
footer .foot .last{
    margin-top: 20px;
    display: flex;
    font-size: 10px;
    font-weight: normal;
    opacity:0.79;
    /* left:0; */
padding-bottom: 20px;
justify-content: space-between;

}
.sec4 .text h1{
    padding-top: 10px;
    font-size: 2rem;
}
.sec4 .text h3{
    font-size: 1rem;
    font-weight: normal;
}
.sec4 #btn{
    text-align: center;
    font-size: 1rem;

    margin-top: 11px;

}
.sec4 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(34, 139, 209);
}
.sec4 .right .text h3{
    color:white;
    font-size: 1rem;
    font-weight: normal;
}

.sec4 .right img{
    margin-top: 70px;
    width:140px;
    height:45px;
}
.sec5 .left .text{
    margin-top:20px;
    /* color:white; */
    text-align: center;

}

.sec5 .text h1{
    padding-top: 10px;
    font-size: 2rem;
}
.sec5 .text h3{
    font-size: 1rem;
    font-weight: normal;
}
.sec5 #btn{
    text-align: center;
    font-size: 1rem;

    margin-top: 11px;

}
.sec5 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(34, 139, 209);
}
.sec5 .right .text h3{
    /* color:white; */
    font-size: 1rem;
    font-weight: normal;
}
.sec5 .right .text h1{
    margin-top:20px;
}

.sec6 .text h1{
    padding-top: 10px;
    font-size: 2rem;
}
.sec6 .text h3{
    font-size: 1rem;
    font-weight: normal;
}
.sec6 #btn{
    text-align: center;
    font-size: 1rem;

    margin-top: 11px;

}
.sec6 #btn a{
    text-decoration: none;
    margin:0px 28px;
    color:rgb(34, 139, 209);
}
.sec6 .right .text h3{
    width:60%;
    margin: auto;
    /* color:white; */
    font-size: 1rem;
    font-weight: normal;
}

.sec6 .right img{
    margin-top: 20px;
    width:130px;
    height:31px;
}
.sec6 .left img{
    margin-top: 20px;
    width:95px;
    height:35px;
}


.container #hero-sec{
    margin-top:60px;
    color:white;
    text-align: center;
    padding-top: 30px;

}
.container #hero-sec h1{
    padding-top: 10px;
    font-size: 2.5rem;
}
.container #hero-sec h3{
    font-size: 1.25rem;
    font-weight: normal;
}
.container #btn{
    text-align: center;
    font-size: 1rem;

    margin-top: 17px;

}
.sec2 img{
    width:300px;
    margin-top: 130%;
    
    
}

.sec2 .text h3{
    

    font-size: 1.1rem;
    font-weight: normal;
}
.sec2 #btn{
    text-align: center;
    font-size: 1rem;
    margin-top: 17px;


}
.sec3 .text h1{
    /* padding-top: 10px; */
    font-size: 2.5rem;
    padding-top: 130%;
}
.sec3 .text h3{
    font-size: 1.1rem;
    font-weight: normal;
}
.sec3 #btn{
    text-align: center;
    font-size: 1rem;

    margin-top: 17px;

}
#navbar .menu{
    position: absolute;
    margin-top: 195%; 
     /* margin-left: 10px; */
     padding-top:10px;
}

.menu.active{
    display: flex;
    height:85vh;
}
    


} 